@model Appointment
<div class="d-flex flex-wrap">
    <div class="d-flex flex-column dash">
        <a class="btn btn-outline-primary" href="/admin/calendar">Manage appointments</a>
        <a class="btn btn-outline-primary" href="/admin/allUsers">All Users</a>
        <a class="btn btn-outline-primary" href="/admin/evaluations">Evaluations</a>
        <a href="/admin/calendar" class="d-flex justify-content-center"> <i
                class="zmdi zmdi-hc-lg zmdi-hc-3x">&#xf10a;</i></a>
    </div>
    <div class="ShowOneAdmin d-flex flex-column gap-4">
        @if (Context.Session.GetInt32("userId") == Model.UserId)
        {
            <h1 class="text-dark">By Admin</h1>
        }
        else
        {
            <h1 class="text-dark">@Model.Client.FName @Model.Client.LName</h1>
        }
        <div class="w-100 d-flex align-items-center">
            <label class="w-30">Time:</label>
            <p class="w-40 text-dark">@Model.Time</p>
            @if (DateTime.Now < @Model.Time)
            {

                <form action="/admin/appointment/@Model.AppointmentId" method="post" class="w-50 d-flex hed">
                    <input asp-for="Time">&nbsp;
                    <input asp-for="UserId" value="@Model.UserId" type="hidden">
                    <input type="hidden" asp-for="Attendance" value="@Model.Attendance">
                    <button type="submit" class="btn btn-primary">Change</button>&nbsp;
                    <strong>|</strong>&nbsp;
                    <a href="/deleteapp/@Model.AppointmentId" class="btn btn-danger">Cancel</a>
                </form>
            }
        </div>
        <span class="text-danger validation" asp-validation-for="Time"></span>

        <div class="w-100 d-flex align-items-center">
            <label class="w-30">Date of Creation :</label>
            <p class="w-40 text-dark">@Model.CreatedAt</p>
            <div class="w-50">
            </div>
        </div>
        @if (DateTime.Now > @Model.Time)
        {
            <div class="w-100 d-flex align-items-center">
                <label class="w-30">Attendance:</label>
                @if (@Model.Attendance == "absent")
                {
                    <p class="w-40 text-danger">ABSENT</p>
                }
                else if (@Model.Attendance == "present")
                {
                    <p class="w-40 text-success">PRESENT</p>
                }
                <div class="w-50">
                    @if (@Model.Attendance == "absent")
                    {
                        <a href="/attendance/@Model.Attendance/@Model.AppointmentId" class="btn btn-success">Present</a>
                    }
                    else if (@Model.Attendance == "present")
                    {
                        <a href="/attendance/@Model.Attendance/@Model.AppointmentId" class="btn btn-danger">Absent</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
</div>
