@model Message
<div class="PostPage">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Coding Dojo Wall</h1>
        <div class="d-flex gap-6 align-items-center">
            <h4>Welcome @Context.Session.GetString("name")</h4>
            <a class="log" href="/logout">Logout</a>
        </div>

    </div>
    <hr class="hr">
    <form asp-action="PostMessage" method="post">
        <h5>Post a Message</h5>
        <textarea asp-for="MessageText" cols="100" rows="5" class="form-control"></textarea>
        <input asp-for="UserId" type="hidden" value="@Context.Session.GetInt32("userId")">
        <span asp-validation-for="MessageText" class="text-danger fw-bold"></span>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success me-md-2">Post</button>
        </div>
    </form>
    @foreach(Message m in ViewBag.AllMessages){
        <div>
            <h5>
                @m.Poster.FName - @m.CreatedAt.ToString("MMM dd, yyyy") 
                @if(@Context.Session.GetInt32("userId")==m.UserId){
                    <a href="/delete/@m.MessageId" class="btn btn-danger">Delete Message</a>
                }
            </h5>
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;@m.MessageText </p>
        </div>
        <div>
            @foreach(Comment c in ViewBag.AllComments){
                <h5>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@c.Commentator.FName -  @c.CreatedAt.ToString("MMM dd, yyyy")  
                    
                </h5>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@c.CommentText</p>
                }
        </div>
        // question ???????????????? //
        ViewBag.CommentId = m.MessageId;
        
        <partial name="_comment" />
        
    }

















</div>
